.main{
    font-family: Chelsea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.login{
    background-color: rgb(0, 0, 0,0.7);
    width: 70%;
    height:auto;
    text-align: center;

}
.input-group {
    margin-bottom: 15px;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 15px;
  }
@font-face {
    font-family: 'Chelsea';
    src: url('../../fonts/Chelsea.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Dosis';
    src: url('../../fonts/Dosis.ttf') format('truetype');
  }